[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
v = {editable = true,version = "*"}

[packages]
pyinquirer = "*"

[requires]
python_version = "3.8"
